<!-- footer -->

<div class="sticky-bottom">
    <div class="bg-dark">
        <div class="d-flex justify-content-center">
            <div class="mb-2 mt-2">
                <a href="/" class="btn btn-primary">Accueil</a>
                {{#if user}}
                <a href="/admin" class="btn btn-primary">Admin</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
