{{!-- navbar --}}
<nav class="navbar bg-secondary">
    <div class="container">
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            Menu
        </a>
        {{!-- <div class="d-flex justify-content-start">
            <h1 class="navbar-brand" href="#">SaoLim</h1>
        </div> --}}
        {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            connexion/inscription
        </button> --}}
    </div>

    <ul>
        {{#if user}}
        <li>
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Déconnexion</button>
            </form>
        </li>
        {{else}}
        <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            connexion/inscription
        </button></li>
        {{/if}}
    </ul>

    {{!-- offcanva --}}

    {{!-- inside-boutton --}}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <div class="d-grid gap-3">
                    <a href="/" class="btn btn-primary">Accueil</a>
                    <a href="/article" class="btn btn-primary">Article</a>
                    <a href="/biographie" class="btn btn-primary">Biographie</a>
                    <a href="/formulaire" class="btn btn-primary">Information stage</a>
                </div>
            </div>
        </div>
    </div>
</nav>

{{!-- Modal connection inscription --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {{!-- Connection --}}
                <div class="container">
                    <div>
                        <h1 class="d-flex justify-content-center">Connection</h1>
                        <form class="row g-3" action="/login" method="post">
                            <div class="col-md-6">
                                <label class="form-label">Mail</label>
                                <input type="" class="form-control" name="mail">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="mb-2">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        {{!-- Inscription --}}
                        <form action="/inscription" method="post" class="row g-3" enctype="multipart/form-data">
                            <h1 class="d-flex justify-content-center">Inscription</h1>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Nom</label>
                                <input type="" class="form-control" name="nom">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Prenom</label>
                                <input type="" class="form-control" name="prenom">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Mail</label>
                                <input type="" class="form-control" name="mail">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Portable</label>
                                <input type="" class="form-control" name="numero">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Pseudo</label>
                                <input type="" class="form-control" name="pseudo">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" name="motdepasse">
                            </div>
                            <div class="col-md-6">
                                <label for="inputZip" class="form-label">Photo</label>
                               <input type="file" class="form-control-file" name="uploaded_file">
                            </div>


                            <div class="col-12 d-flex justify-content-center mb-2">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


