<div class="container">
        <div>
                <h1 class="d-flex justify-content-center">Admin page</h1>
                <form class="row g-3">
                        <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Pseudo</label>
                                <input type="email" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="">
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                                <div class="mb-2">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                        </div>
                </form>
        </div>
        <div>
                <form class="row g-3">
                        <h1 class="d-flex justify-content-center">Inscription</h1>
                        <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Nom</label>
                                <input type="email" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Prenom</label>
                                <input type="password" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputCity" class="form-label">Mail</label>
                                <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputZip" class="form-label">Portable</label>
                                <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputZip" class="form-label">Pseudo</label>
                                <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-6">
                                <label for="inputZip" class="form-label">Mot de passe</label>
                                <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-12 d-flex justify-content-center mb-2">
                                <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                </form>
        </div>
</div>

<img src="/assets/pics/img.jpg" class="d-block w-100" alt="">