<div class="d-flex justify-content-center">
  <a href="/admin1" class="btn btn-primary">AdminStage</a>
  <a href="/admin2" class="btn btn-primary">AdminArticle</a>
</div>
<div class="container">

  <div class="d-flex justify-content-between">
    <a href="#stage1">Stage 1</a>
    <a href="#stage2">Stage 2</a>
    <a href="#stage3">Stage 3</a>
    <a href="#stage4">Stage 4</a>
    <a href="#stage5">Stage 5</a>
  </div>

  <div class="d-flex justify-content-center">
    <h1 id="stage2">Stage 1</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div class="m-4">
      <div class="mt-2">
        <button type="button" class="btn btn-success">Philipe Dupond</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Alice Martinnet</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Jackie Choun</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Berangere Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Pascal Martinnet</button>
      </div>
    </div>
    <div class="m-4">
      <div class="mt-2">Mail:</div>
      <div class="mt-2">Telephone:</div>
      <div class="mt-2">Regime Alimentaire:</div>
      <div class="mt-2">Jour presents:</div>
    </div>
    <div class="m-4">
      <div class="mt-2"> mailexemple@gotme.moon</div>
      <div class="mt-2">07 05 66 78 15</div>
      <div class="mt-2">Crudivore</div>
      <div class="mt-2">5 jours</div>
    </div>
    <div class="m-4">
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn btn-primary" type="submit">Désinscrire</button>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <h1 id="stage2">Stage 2</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div class="m-4">
      <div class="mt-2">
        <button type="button" class="btn btn-success">Philipe Dupond</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Alice Martinnet</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Jackie Choun</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Berangere Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Pascal Martinnet</button>
      </div>
    </div>
    <div class="m-4">
      <div class="mt-2">Mail:</div>
      <div class="mt-2">Telephone:</div>
      <div class="mt-2">Regime Alimentaire:</div>
      <div class="mt-2">Jour presents:</div>
    </div>
    <div class="m-4">
      <div class="mt-2"> mailexemple@gotme.moon</div>
      <div class="mt-2">07 05 66 78 15</div>
      <div class="mt-2">Crudivore</div>
      <div class="mt-2">5 jours</div>
    </div>
    <div class="m-4">
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn btn-primary" type="submit">Désinscrire</button>
    </div>
  </div>


  <div class="d-flex justify-content-center">
    <h1 id="stage3">Stage 3</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div class="m-4">
      <div class="mt-2">
        <button type="button" class="btn btn-success">Philipe Dupond</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Alice Martinnet</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Jackie Choun</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Berangere Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Lucie Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Astrid Rousseau</button>
      </div>
    </div>
    <div class="m-4">
      <div class="mt-2">Mail:</div>
      <div class="mt-2">Telephone:</div>
      <div class="mt-2">Regime Alimentaire:</div>
      <div class="mt-2">Jour presents:</div>
    </div>
    <div class="m-4">
      <div class="mt-2"> mailexemple@gotme.moon</div>
      <div class="mt-2">07 05 66 78 15</div>
      <div class="mt-2">Crudivore</div>
      <div class="mt-2">5 jours</div>
    </div>
    <div class="m-4">
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn btn-primary" type="submit">Désinscrire</button>
    </div>
  </div>


  <div class="d-flex justify-content-center">
    <h1 id="stage4">Stage 4</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div class="m-4">
      <div class="mt-2">
        <button type="button" class="btn btn-success">Philipe Dupond</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Alice Martinnet</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Jackie Choun</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Berangere Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Arnaud Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Arthur Rousseau</button>
      </div>
    </div>
    <div class="m-4">
      <div class="mt-2">Mail:</div>
      <div class="mt-2">Telephone:</div>
      <div class="mt-2">Regime Alimentaire:</div>
      <div class="mt-2">Jour presents:</div>
    </div>
    <div class="m-4">
      <div class="mt-2"> mailexemple@gotme.moon</div>
      <div class="mt-2">07 05 66 78 15</div>
      <div class="mt-2">Crudivore</div>
      <div class="mt-2">5 jours</div>
    </div>
    <div class="m-4">
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn btn-primary" type="submit">Désinscrire</button>
    </div>
  </div>


  <div class="d-flex justify-content-center">
    <h1 id="stage5">Stage 5</h1>
  </div>
  <div class="d-flex justify-content-between">
    <div class="m-4">
      <div class="mt-2">
        <button type="button" class="btn btn-success">Philipe Dupond</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Alice Martinnet</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Jackie Choun</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Berangere Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-danger">Arnaud Rousseau</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-success">Arthur Rousseau</button>
      </div>
    </div>
    <div class="m-4">
      <div class="mt-2">Mail:</div>
      <div class="mt-2">Telephone:</div>
      <div class="mt-2">Regime Alimentaire:</div>
      <div class="mt-2">Jour presents:</div>
    </div>
    <div class="m-4">
      <div class="mt-2"> mailexemple@gotme.moon</div>
      <div class="mt-2">07 05 66 78 15</div>
      <div class="mt-2">Crudivore</div>
      <div class="mt-2">5 jours</div>
    </div>
    <div class="m-4">
      <button class="btn btn-primary" type="submit">Valider</button>
      <button class="btn btn-primary" type="submit">Désinscrire</button>
    </div>
  </div>

</div>