<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
                <div class="carousel-item active">
                        <div class="container">
                                <h1 class="d-flex justify-content-center mt-3">Moine Sik Koh Sum</h1>
                                <div class="row align-items-center">
                                        <div>
                                                <div class="d-flex justify-content-center">
                                                        <img src="/assets/pics/img1.jpg" class="d-block w-60" alt="">
                                                </div>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                        Ut explicabo expedita ipsam modi maxime, natus
                                                        consequuntur
                                                        saepe nihil officia nam non velit, est debitis illum,
                                                        ex mollitia nostrum similique provident!
                                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                                        elit.
                                                        Exercitationem consequuntur laudantium, officiis atque
                                                        quasi
                                                        pariatur aliquid error optio at, libero quae
                                                        voluptatibus
                                                        molestias cumque obcaecati nihil deserunt a esse
                                                        aliquam!</p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="carousel-item">
                        <div class="container">
                                <h1 class="d-flex justify-content-center mt-3">Maître Huynh</h1>
                                <div class="row align-items-center">
                                        <div class="d-flex justify-content-center">
                                                <img src="/assets/pics/img2.jpg" class="d-block w-60" alt="">
                                        </div>
                                        <div>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                        Ut explicabo expedita ipsam modi maxime, natus
                                                        consequuntur
                                                        saepe nihil officia nam non velit, est debitis illum,
                                                        ex mollitia nostrum similique provident!
                                                        Lorem, ipsum dolor sit amet consectetur adipisicing
                                                        elit.
                                                        Exercitationem consequuntur laudantium, officiis atque
                                                        quasi
                                                        pariatur aliquid error optio at, libero quae
                                                        voluptatibus
                                                        molestias cumque obcaecati nihil deserunt a esse
                                                        aliquam!</p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="carousel-item">
                        <div class="container">
                                <h1 class="d-flex justify-content-center mt-3">Maître P’ng Chye Khim</h1>
                                <div class="row align-items-center">
                                        <div class="d-flex justify-content-center">
                                                <img src="/assets/pics/img3.jpg" class="d-block w-60" alt="">
                                        </div>
                                        <div>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                        Ut explicabo expedita ipsam modi maxime, natus consequuntur
                                                        saepe nihil officia nam non velit, est debitis illum,
                                                        ex mollitia nostrum similique provident!
                                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                        Exercitationem consequuntur laudantium, officiis atque quasi
                                                        pariatur aliquid error optio at, libero quae voluptatibus
                                                        molestias cumque obcaecati nihil deserunt a esse aliquam!</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
        </button>
</div>


<div class="d-flex justify-content-center">
        <img src="/assets/pics/logoScript.png" alt="">
</div>