<div class="container">
     <h1 class="d-flex justify-content-center">Formulaire d'inscription de stage</h1>
     <form class="row g-3">
          <div class="col-md-6">
               <label for="inputEmail4" class="form-label">Nom</label>
               <input type="email" class="form-control" id="inputNom">
          </div>
          <div class="col-md-6">
               <label for="inputPassword4" class="form-label">Prenom</label>
               <input type="password" class="form-control" id="inputPrenom">
          </div>
          <div class="col-md-6">
               <label for="inputCity" class="form-label">Regime alimentaire</label>
               <input type="text" class="form-control" id="inputRegime">
          </div>
          <div class="col-md-6">
               <label for="inputZip" class="form-label">Jour present</label>
               <input type="text" class="form-control" id="inputPresent">
          </div>
          <div class="col-md-6">
               <label for="inputZip" class="form-label">Tel portable</label>
               <input type="text" class="form-control" id="inputPortable">
          </div>
          <div class="col-md-6">
               <label for="inputZip" class="form-label">Mail</label>
               <input type="text" class="form-control" id="inputMail">
          </div>
          <div class="col-12 d-flex justify-content-center mb-2">
               <button type="submit" class="btn btn-primary">Valider</button>
          </div>
     </form>
</div>

<h1 class="d-flex justify-content-center"> Stage du Mans du XX/XX/XX au XX/XX/XX

</h1>


<div class="container">
     <div class="d-flex justify-content-center">
          <img src="/assets/pics/lemans.jpg" class="d-block w-100" alt="">
     </div>
</div>