<form action="/inscription" method="post" class="row g-3">
  <h1 class="d-flex justify-content-center">Editer profile</h1>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nom</label>
    <input type="" class="form-control" name="nom">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Prenom</label>
    <input type="" class="form-control" name="prenom">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Mail</label>
    <input type="" class="form-control" name="mail">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Portable</label>
    <input type="" class="form-control" name="numero">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Pseudo</label>
    <input type="" class="form-control" name="pseudo">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" name="motdepasse">
  </div>
  <div class="col-12 d-flex justify-content-center mb-2">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>