<div class="container">
    <h1 class="d-flex justify-content-center">Ecole VÕ SAO LIM du Mans</h1>
    {{#if user}}
    <h3>Bienvenue {{user.pseudo}}</h3>
    {{/if}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio harum aut quidem magnam. Corporis necessitatibus
        eum quos, porro nostrum exercitationem molestias atque
        sapiente saepe accusamus, tempora consequatur maxime beatae suscipit!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Fugiat, quam deserunt. Quae, libero numquam illum hic voluptatibus
        excepturi nesciunt ullam eius eveniet,quisquam
        dolorem eum iusto, iste atque porro molestiae.</p>
</div>
<div class="container">
    <div class="container">
        <img src="/assets/pics/logoScript.png" alt="">
        <img src="/assets/pics/img2.jpg" alt="">
        <img src="/assets/pics/logoScript.png" alt="">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio harum aut quidem magnam. Corporis necessitatibus
        eum quos, porro nostrum exercitationem molestias atque
        sapiente saepe accusamus, tempora consequatur maxime beatae suscipit!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Fugiat, quam deserunt. Quae,
        libero numquam illum hic voluptatibus
        excepturi nesciunt ullam eius eveniet,quisquam
        dolorem eum iusto, iste atque porro molestiae
        libero numquam illum hic voluptatibus
        excepturi nesciunt ullam eius eveniet,quisquam
        dolorem eum iusto, iste atque porro molestiae.</p>
</div>