
<div class="container">
    <div class="d-flex justify-content-center">
        {{!-- message de refus d'authentification --}}
        {{#if flash}}
        <h1 style="color:red;">{{flash}}</h1>
        {{/if}}
    </div>

    <h1 class="d-flex justify-content-center">Ecole VÕ SAO LIM du Mans</h1>

    {{!-- message de bienvenue pour l utilisateur connecté--}}
    {{#if user}}
    <h3>Bienvenue {{user.pseudo}}</h3>
    {{/if}}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio harum aut quidem magnam. Corporis necessitatibus
        eum quos, porro nostrum exercitationem molestias atque
        sapiente saepe accusamus, tempora consequatur maxime beatae suscipit!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Fugiat, quam deserunt. Quae, libero numquam illum hic voluptatibus
        excepturi nesciunt ullam eius eveniet,quisquam
        dolorem eum iusto, iste atque porro molestiae.</p>
</div>
<div class="container">
        <div class="d-flex justify-content-center">
            <img src="/assets/pics/img2.jpg" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio harum aut quidem magnam. Corporis necessitatibus
            eum quos, porro nostrum exercitationem molestias atque
            sapiente saepe accusamus, tempora consequatur maxime beatae suscipit!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Fugiat, quam deserunt. Quae,
            libero numquam illum hic voluptatibus
            excepturi nesciunt ullam eius eveniet,quisquam
            dolorem eum iusto, iste atque porro molestiae
            libero numquam illum hic voluptatibus
            excepturi nesciunt ullam eius eveniet,quisquam
            dolorem eum iusto, iste atque porro molestiae.</p>
</div>