<!-- random-pics -->
<img src="/assets/pics/img.jpg" class="d-block w-100" alt="">
<div class="container">
        <div class="row">
                <div class="col-4">
                        <img src="/assets/pics/img1.jpg" class="d-block w-100" alt="">
                </div>
                <div class="col-4">
                        <img src="/assets/pics/img2.jpg" class="d-block w-100" alt="">
                </div>
                <div class="col-4">
                        <img src="/assets/pics/img3.jpg" class="d-block w-100" alt="">
                </div>
        </div>
</div>