<div class="container mt-2">
    <div class="row d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
            <img src="/assets/pics/renne.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Renne</h2>
                <p class="card-text">Adresse complete.</p>
                <a href="#" class="btn btn-primary">liens du site</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/pics/montmorency.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Montmorency</h2>
                <p class="card-text">Adresse complete.</p>
                <a href="#" class="btn btn-primary">liens du site</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/pics/saintdenis.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Saint Denis</h2>
                <p class="card-text">Adresse complete.</p>
                <a href="#" class="btn btn-primary">liens du site</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="d-flex justify-content-center">
    <H1>Le Mans</H1>
    </div>
    <img src="/assets/pics/lemans.jpg" class="d-block w-100" alt="">
</div>