
{{!-- <h2>Article {{ index }}</h2> --}}
<div class="m-3">
  <a href="/formulaire" class="btn btn-primary">Information stage</a>
</div>

<div class="container">
  <div class="d-flex justify-content-center mt-2">
    {{ upper stage.titre }}
  </div>
  {{ stage.text }}
</div>

<img src="/assets/pics/img.jpg" class="d-block w-100" alt="">