{{!-- <h2>Article {{ index }}</h2> --}}
<div class="m-3">
  <a href="/formulaire" class="btn btn-primary">Formulaire de stage</a>
</div>

<div class="container">
  <div></div>
  <div class="d-flex justify-content-center mt-2">
    {{ upper stage.titre }}
  </div>
  {{ stage.text }}
</div>